main {
    background: linear-gradient(rgb(32, 32, 32, 0.35), rgb(32, 31, 31, 0.75)),
        url("../img/hogwarts-admin-background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-heading h1 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
    font-size: 30px;
}

.one-student {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one-student-box {
    width: 300px;
    min-height: 150px;
    background-color: rgba(250, 232, 215, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.buttons a {
    text-decoration: none;
    font-size: 20px;
    padding: 2px 10px;
    color: white;
    background: #a17e20;
    margin-top: 15px;

}